{% assign comments = site.comments | where: "subject_id",page.comments_subject_id %}
<section id="comments" class="container-fluid">
  <h2>Comments</h2>
  {% for comment in comments %}
  <pre class="container-fluid">{{ comment.content | strip | escape_once }}

{{comment.author | strip | escape_once }}, {{ comment.date }}</pre>
  {% endfor %}

  <h3>Add comment</h3>
  <form action="/comments/{{ page.comments_subject_id }}?return_url={{ page.url }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
      Name<br>
      <input type="text" name="author" minlength="1" maxlength="100">
    </div>
    <div>
      How to contact you (optional, but will be published)<br>
      <input type="text" name="contact" minlength="1" maxlength="300">
    </div>
    <div>
      Comment body<br>
      <textarea name="body" minlength="3" maxlength="9000">
      </textarea>
    </div>
    <button type="submit" name="submit" value="valid">Submit comment</button>
  </form>
</section>
