{% assign comments = site.comments | where: "subject_id",page.comments_subject_id %}
<section id="comments" class="container-fluid">
  <h2>Comments</h2>
  {% for comment in comments %}
  <pre class="container-fluid">{{ comment.content | strip | escape_once }}

{{comment.author | strip | escape_once }}, {{ comment.date }}</pre>
  {% endfor %}

  <h3>Add comment</h3>
  <form action="/comments/{{ page.comments_subject_id }}?return_url={{ page.url }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
      <label for="comment_author">Name</label>
      <input type="text" id="comment_author" name="author" minlength="1" maxlength="100">
    </div>
    <div>
      <label for="comment_contact">Contact (optional, but will be published, so use [dot] and [at] and in-betweens)</label>
      <input type="text" id="comment_contact" name="contact" minlength="1" maxlength="300">
    </div>
    <div>
      <label for="comment_body">Comment body</label>
      <textarea id="comment_body" name="body" rows="8" minlength="3" maxlength="9000"></textarea>
    </div>
    <button type="submit" name="submit" value="valid">Submit comment</button>
  </form>
</section>
