<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    },
    "headline": "{{ page.title }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.last_modified_at }}",
    "wordCount:" "{{ page.content | number_of_words }}",
    "keywords": "{{ page.categories | join: ', ' }}",
    "image": "https://stigok.com/stigok.png",
    "author": {
      "@type": "Person",
      "name": "Stig Otnes Kolstad",
      "image": "https://stigok.com/stigok.png",
      "memberOf": "stigok"
    },
    "publisher": {
      "@type": "Organization",
      "name": "stigok",
      "url": "https://stigok.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://stigok.com/stigok.png"
      },
      "contactPoint": {
        "@type" : "ContactPoint",
        "contactType": "customer service",
        "name": "Send message",
        "url": "https://stigok.com/#contact"
      }
    }
  }
</script>
