<article class="container-fluid">
  <h1>{{ page.title }}</h1>
  {% if page.categories contains "draft" %}
  <div class="notice">
    <strong>Warning:</strong>
    This post is a draft and is to be considered unfinished.
    The content might be of poor quality, might not have been tested thourughly,
    or can even be misleading!
  </div>
  {% endif %}
  <section id="revisions">
    Revision history
    <ul id="revisionList">
      {% for rev in page.revisions %}
        <li>
          {% if forloop.first %}
            {% comment %}
              - Since creation date might be different than the date it was
                checked into git.
              - A static test for the initial commit of the post will probably
                always be better than the actual commit message.
            {% endcomment %}
            <strong title="{{ page.date }}">{{ page.date | date: "%d %b %Y" }}:</strong>
            Post was created
          {% else %}
            <strong title="{{ rev.date }}">{{ rev.date | date: "%d %b %Y" }}:</strong>
            {{ rev.message }}
          {% endif %}
          (<a href="{{ site.upstream }}/commit/{{ rev.hash }}" rel="nofollow">diff</a>)
        </li>
      {% endfor %}
    </ul>
  </section>
  {% if page.categories.size > 0 %}
  <section id="tags">
    <small>
      <strong>Tags:</strong>
      {% for c in page.categories %}
        <span class="badge">{{ c }}</span>
      {% endfor %}
    </small>
  </section>
  {% endif %}
  {{ page.content }}
  <img src="https://stats.fireto.no/blog.stigok.com.gif?key={{ page.id }}">
</article>
