<article class="container-fluid">
  <h1>{{ page.title }}</h1>
  {% if page.categories.size > 0 %}
  <p>
    <small>
      {% for c in page.categories %}
        <span class="badge">{{ c }}</span>
      {% endfor %}
    </small>
  </p>
  {% endif %}
  <section id="revisions">
    Revision history
    <ul id="revisionList">
      {% for rev in page.revisions %}
        <li>
          {% if forloop.first %}
            {% comment %}
              - Since creation date might be different than the date it was
                checked into git.
              - A static test for the initial commit of the post will probably
                always be better than the actual commit message.
            {% endcomment %}
            <strong title="{{ page.date }}">{{ page.date | date: "%d %b %Y" }}:</strong>
            Post was created
          {% else %}
            <strong title="{{ rev.date }}">{{ rev.date | date: "%d %b %Y" }}:</strong>
            {{ rev.message }}
          {% endif %}
          (<a href="{{ site.upstream }}/commit/{{ rev.hash }}" rel="nofollow">diff</a>)
        </li>
      {% endfor %}
    </ul>
  </section>
  {{ page.content }}
</article>
