name: CI Blog

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - lib/**
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - lib/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ${{ secrets.DOCKER_REGISTRY }}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Full revision history
          fetch-depth: 0

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          pull: true
          push: true
          file: .deploy/Dockerfile
          tags: ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:latest
          cache-to: type=inline

      - name: Tag and push tag latest
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          docker pull ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:${{ github.sha }} ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:latest
          docker push ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:latest

  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: azure/k8s-set-context@v1
        with:
          method: service-account
          k8s-url: ${{ secrets.K8S_API_URL }}
          k8s-secret: ${{ secrets.K8S_SECRET }}
      - name: Deploy
        uses: azure/k8s-deploy@v1
        with:
          namespace: stigok
          manifests: |
            .deploy/deployment.yaml
          images: |
            ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}:${{ github.sha }}
